.container{
    display: flex;
    flex-direction: column;
}
.line{
    display: flex;
    flex: 1;
}
button{
    font-size: 4em;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #f4f4f4;
}
.number{
    display: flex;
    flex: 1 1 200px;
    height: 100px;
    background-color: rgb(142, 219, 142);
}
.operator{
    display: flex;
    flex: 1 1 200px;
    height: 100px;
    background-color: rgb(12, 68, 12);
    
}
.equals{
    display: flex;
    flex: 1 1 200px;
    height: 100px;
    background-color: rgb(69, 150, 69);
}
.display{
    display: flex;
    flex: 1;
    background-color: #333;
    justify-content: flex-end;
}
h1{
    font-size: 4em;
    color: #f4f4f4;
    margin: 0px;
    padding-right: 20px;
}
.clear{
    display: flex;
    flex: 1;
    background-color: rgb(35, 64, 35);
}